html(lang="ru")
    head
        title Новости друзей
        link(href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css", rel="stylesheet")
        link(rel="stylesheet", href="/scss/main.scss")

    body.bg-gradient.bg-secondary.text-white
        .container
            h1 Новости друзей пользователя #{user.name}

            ul
              each friend in friendsNews
                  li.border.border-white.mt-2.p-2
                      a(href=`/user/${friend.name}`)
                          h3 #{friend.name}
                      ul
                        each news in friend.news
                            li= news