html(lang="ru")
    head
        title Библиотека
        link(rel="stylesheet", href="https://www.w3schools.com/w3css/4/w3.css")
        link(rel="stylesheet", href="/scss/main.scss")
        script(src='/js/users.js')
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

    body
        .container
            include toolbar.pug
            include books.pug
